<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<h1>Process Returned Files</h1>
<form action="" method="post" name="decc">
    {{form.hidden_tag()}}
    <p>
        Select which file to input:<br>
    <p>
        Please select which {{ type }} to Process:<br>
        <select id="inFileName" name="option">
          {% for option in options %}
          <option value ='{{ options[option] }}' >{{ option }}</option>
          {% endfor %}
          {% if type == 'order' %}
          <option value = '0'>New Order</option>
          {% endif %}
        </select><br>
        {% for error in form.errors.option %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    <p>
        Name the output file:<br>
        {{form.outFileName()}}
    </p>
    <p>
        Is this a Voter Registration File?
        {{form.isVR()}}
    </p>
    <p><input type="submit" value="Run"></p>

</form>
{% endblock %}